---
---
<!doctype html>
<html data-ng-app="nutest">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Nutest</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
  </head>
  <body>
    {% raw %}
    <div class="container" data-ng-controller="RewardController">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li>
              <a href="#" data-ng-click="open('add')">
                <i class="glyphicon glyphicon-plus"></i>
                Add
              </a>
            </li>
            <li>
              <a href="#" data-ng-click="open('upload')">
                <i class="glyphicon glyphicon-cloud-upload"></i>
                Upload
              </a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">Nutest</h3>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th class="text-right">Points</th>
              </tr>
            </thead>
            <tr data-ng-repeat="(key, value) in rewards" data-ng-cloak>
              <td>{{key}}</td>
              <td class="text-right">
                <span class="badge">{{value}}</span>
              </td>
            </tr>
            <tr data-ng-show="Object.keys(rewards.list).length == 0">
              <td colspan="2" class="text-muted text-center"><em>Empty</em></td>
            </tr>
          </table>
        </div>
      </div>
      <footer class="footer text-right" data-ng-controller="StatusController">
        <form class="form-inline">
          <div class="form-group form-group-sm">
            <div class="input-group">
              <input type="text" class="form-control" data-ng-model="url" data-ng-model-options="{debounce: 1000}">
              <div class="input-group-addon">v{{version}}</div>
            </div>
          </div>
        </form>
      </footer>
    </div>
    <script type="text/ng-template" id="add.html">
    <form name="form" data-ng-submit="send(form)">
      <div class="modal-header">
        <button class="close pull-right" type="button" ng-click="$dismiss()">&times;</button>
        <h3 class="modal-title">Add</h3>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" data-ng-show="form.$invalid">Sorry, your form has errors!</div>
        <div class="form-group">
          <label>Invites:</label>
          <textarea class="form-control" rows="4" data-ng-model="invites"></textarea>
          <p class="help-block">Each line is an invite in the format <code>From To</code>.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </form>
    </script>
    <script  type="text/ng-template" id="upload.html">
    <form name="form" data-ng-submit="send(form)">
      <div class="modal-header">
        <button class="close pull-right" type="button" ng-click="$dismiss()">&times;</button>
        <h3 class="modal-title">Upload</h3>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" data-ng-show="form.$invalid">Sorry, this file can not be parsed!</div>
        <div class="form-group">
          <label>File:</label>
          <input type="file" data-file-input data-ng-model="invitationFile">
          <p class="help-block">Caution this will overwrite <strong>all</strong> invitations and can not be undone.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-default" data-ng-disable="form">Submit</button>
      </div>
    </form>
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-resource.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap-tpls.min.js"></script>
    <script src="app.js"></script>
    {% endraw %}
  </body>
</html>
